#racecar-flex-card-container {
    display: flex;
    position: absolute;

    justify-content: center;
    /* margin-top: 175px; */
    flex-direction: row;
    width:100%;
    flex-wrap: wrap;
    align-content: center;
    /* align-items: center; */
    height: 100%;

   
}

/* #racecar-card-container{
    position: absolute;
    height: 100%;
} */

.card {
    width:280px;
    height: 500px;
    border: solid 1px black;
}

.transition {
    transition: width 2s, height 2s, transform 2s;
    transform: rotate(-40deg);
}

.card-1 {
    position: relative;
    background-color: green;
    z-index: 300;
    top: 525px;
    left: -30px;
    
}

.card-2 {
    position: relative;
    background-color: red;
    z-index: 200;
    top: 0px;
    left: 0px;
}


.card-3 {
    position: relative;
    background-color: blue;
    z-index: 100;
    top: -525px;
    left: 30px;
}















@media only screen and (min-width: 600px) {

}